.container {
      width: 80px;
      margin: 5px;
      height: 80px;
      border: 2px solid white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 36px;
      cursor: pointer;
      overflow: hidden;
      transition: all ease 0.4s;
}

.container>* {
      transition: all ease .5s;
}

.container img {
      width: 90%;
}

.container:hover>* {
      transform: scale(1.1);
}