.main {
      background-color: rgb(0, 0, 25);
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
}

.champions {
      width: 80%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: auto;
}

.items {
      width: 100%;
      height: 90%;
      overflow-y: scroll;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
}