.main {
      margin: 5px;
      background-color: rgb(14, 0, 77);
      width: 110px;
      height: 140px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 10px;
      align-items: center;
      color: white;
      text-align: center;
      cursor: pointer;
      transition: 0.5s ease all;
      border-radius: 10px;
}

.main:hover {
      transform: scale(1.1);
}